/********************************************************************
 * scroll-top
 ********************************************************************/

#scroll-top {
    z-index: 10;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#scroll-top a {
    display: block;
}

#scroll-top a:hover {
}


body {
	/*font-family:'Lucida Grande',
 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
 Meiryo, メイリオ, sans-serif;
 */
 font-family: 中ゴシックBBB;

}

a {
	color: #FFFFFF;
	/*color:rgb(118, 153, 255);*/
}
#wrap {
	min-width: 1240px;
	
}
#header {
	display: block;
	height: 57px;
	background-color:rgb(73, 73, 73);
	z-index:1;
	width: 100%;
	padding: 13px 0 30px 0;
	position: fixed;
	opacity: 0.8;
	min-width: 1240px;
}

#slide {
	width:100%;
	margin: 0 auto;
	position: relative;
	min-width: 1240px;
	padding-top: 100px;
}
#text_information {
	text-align: center;
	background-color:rgb(50, 65, 108);
	padding: 8px;
	color: #FFFFFF;
	min-width: 1240px;
}

#header img  {
	opacity: 1.0;
}

#logo {
	float: left;
	display: inline;
	position: fixed;
	margin: 30px;
	z-index: 2;
	left: 20px;
}
#nav {
	clear: both;
	display: inline;
	font-size: 12px;
	color: #FFFFFF;
	margin: 0px;
}
#nav_table {
	/*margin:13px auto 0 auto;*/
	margin: 0 auto;
}

#contact {
	display: inline;
	position: fixed;
	top: 20px;
	right: 22px;
	z-index: 2;
}
#nav img{
	margin-bottom: 5px;
}
#text_logo {	
	font-size:12px; 
	color:#FFFFFF;
}


.flexslider {
	width:100%;
	margin: 0 !important;
}

.flex-control-nav {
	/*display: none;*/
	bottom: 7px !important;
}

.flexslider .flex-next {
	position: absolute;
	left: -2000px;
	top: -2000px;
	display:none;
}

.flex-direction-nav .flex-prev {
	position: absolute;
	left: -2000px;
	top: -2000px;
	display: none;

}

#hot_topics {
	width: 780px;
	min-height: 320px;
	margin: 0 auto 50px auto;
}

#hot_topics_pic {
	margin:40px 0 24px 0;
}

#hot_topics_midashi {
	margin: 30px 0 30px 16px;
}

.topics {
	position: relative;
	background-color:rgb(73, 73, 73);
	list-style: none;
margin: 10px;
color: #FFFFFF;
border-radius: 5px;        /* CSS3草案 */  
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 5px;   /* Firefox用 */ 
    line-height: 32px;
    font-size: 10px;
}



#hot_topics_text {
	margin-left:-10px;
}

.topics_date {
	margin:0px 10px 0px 30px;
	height: 22px;
}
.arrow {
	position: absolute;
	top: 5px;
}


#content {
	position: relative;
	display: block;
	width: 100% !important;
	background-color: rgb(191, 191, 191);
	min-height: 500px;
	padding: 125px 0 1px 0;
	min-width: 1240px;

}
.midashi {
	display: block;
	margin:100px auto 100px auto;
	min-width: 1040px;
	max-width: 1040px;
	min-height: 100px;
	background-color: #FFFFFF;
	border-radius: 5px;        /* CSS3草案 */  
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 5px;   /* Firefox用 */ 
    box-shadow: 1px 1px 3px #000;
}
.inner_midashi{
	display: block;
	width: 780px;
	margin: 0 auto 0 auto;
}
.midashi_text {
	line-height: normal;
	margin: 0 auto 48px auto;

}

#what {
	margin:0px auto 100px auto;
}

footer {
	clear: both;
	display: block;
	width: 100%;
	min-height: 300px;
	background-color: rgb(58,58,58);
	padding-top: 30px;
	color:rgb(93,93,93);
	min-width: 1240px;
}


#footer_hatena{
                display: block;
                width: 33px;
                height: 30px;
        background: url('../img/hatena.png') no-repeat 0 0;
}

#footer_hatena:hover {
        background: url('../img/hovers/footer_images/hatena_hover.png') no-repeat 0 0;
}


#footer_house{
                display: block;
                width: 30px;
                height: 30px;
        background: url('../img/house.png') no-repeat 0 0;


}

#footer_house:hover {
        background: url('../img/hovers/footer_images/house_hover.png') no-repeat 0 0;
}

#footer_document{
                display: block;
                width: 25px;
                height: 30px;
        background: url('../img/document.png') no-repeat 0 0;


}

#footer_document:hover {
        background: url('../img/hovers/footer_images/document_hover.png') no-repeat 0 0;
}


#footer_smile{
                display: block;
                width: 29px;
                height: 30px;
        background: url('../img/smile.png') no-repeat 0 0;
}

#footer_smile:hover {
        background: url('../img/hovers/footer_images/smile_hover.png') no-repeat 0 0;
}

#footer_carry{
                display: block;
                width: 33px;
                height: 30px;
        background: url('../img/carry.png') no-repeat 0 0;
}

#footer_carry:hover {
        background: url('../img/hovers/footer_images/carry_hover.png') no-repeat 0 0;
}

#footer_facebook{
                display: block;
                width: 50px;
                height: 30px;
        background: url('../img/facebook.png') no-repeat 0 0;
}
#footer_facebook:hover {
        background: url('../img/hovers/footer_images/facebook_hover.png') no-repeat 0 0;
}

#footer_information{
                display: block;
                width: 28px;
                height: 30px;
        background: url('../img/mail_footer.png') no-repeat 0 0;
}
#footer_information:hover {
        background: url('../img/hovers/footer_images/information_hover.png') no-repeat 0 0;
}

#footer_twitter{
                display: block;
                width: 32px;
                height: 30px;
        background: url('../img/twitter.png') no-repeat 0 0;
}
#footer_twitter:hover {
        background: url('../img/hovers/footer_images/twitter_hover.png') no-repeat 0 0;
}

#footer_table {
	display: block;
	margin: 30px auto 100px auto;
	width: 1000px;
}
#copyrights {
	display: block;
	margin: 0 auto;
	width: 480px;
	padding: 10px;
}

#member_midashi {
	display: block;
	width: 1040px;
padding-top: 125px;
margin: 0 auto;
}

#member_midashi_text {
	padding-top: 61px;
margin-left: 147px;
line-height: 26px;
}

#member_profile {
	float:left;
	display: block;
	min-height: 500px;
	width: 100%;
	min-width: 1240px;
	background-color: rgb(58,58,58);
	padding-bottom: 65px;
}

#member_profile img {
		border-radius: 5px;        /* CSS3草案 */  
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 5px;   /* Firefox用 */ 
}

#inner_member_profile {
	display: block;
	width: 1040px;
	margin: 0 auto;
	color: #FFFFFF;
	padding-top: 125px;
}

#footer_font {
	color:#5D5D5D;
}

.small_image {
	width: 165px;
	height:247px;

}

.profile {
	float: left;
	width: 166px;
	height: 247px;
	position: relative;
	margin: 3px;
}

.profile_name {
	width: 165px;
	position: absolute;
	top: 0px;
	left:0px;
	background-color: #000000;
	opacity: 0.7;
	z-index: 2;
	/*padding-top: 221px;*/
			border-radius: 5px;        /* CSS3草案 */  
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 5px;   /* Firefox用 */ 
    display:block; width:165px; height:247px; position:absolute; top:0px; left:0px;
}
.lb-caption {
	font-size: 40px !important;
}

a {
	text-decoration: none;
}

.full_name {
	margin:5px;
}

.lb-dataContainer {
top: 0px;
left: 20%;
position: absolute;
width: 90% !important;
}

.lb-outerContainer {
	margin: 0px;
	left: 58%;
}

.explain {

width: 370px;
line-height: 60px;
right: 1%;
font-size:12px;
}

.explain_text {
line-height: 20px;
}

.lb-number {
	display: none !important;
}



/*----------------------------------------------biography*/
#biography {
	position: relative;
	display: block;
	width: 1040px;
	margin:0 auto;
	min-height: 500px;
	/*float: left;*/
	padding-top: 150px;
	padding-bottom:135px;

}

#inner_bio {
	position: relative;
	background-color:#FFFFFF;
	/*min-width: 1040px;*/
	min-height: 500px;
	border-radius: 5px;        /* CSS3草案 */  
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 5px;   /* Firefox用 */ 
    box-shadow: 2px 2px 7px #000;
    padding:70px 60px 70px 40px;
    display: block;
}

.bio_content {
	clear: both;
	/*min-height: 300px;*/
	background-image:url('../img/bio/bio_vertical_line.png');
	background-repeat: repeat-y;
	background-position: 10px 10px;
	margin-bottom:50px;
	margin-top: 20px;
	max-width: 480px;
	min-width: 480px;
	width: 480px;
	font-size: 12px;
	padding-left: 25px;
	line-height: 18px;
}

#bio_background:hover {
	color:#ffffff;
	background-color:#464646;
}



#cv {
	float: left;
}

table th {
	padding: 0;
}

table td {
	padding: 0 0 0 10px;
}


#explain {
	float: right;
	width: 420px;
	left: auto;
	min-height: 400px;
	border-radius: 10px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px;   /* Firefox用 */ 
}

#ex_image {
	padding-top: 30px;
	padding-left: 10px;
	margin-right: 20px;
	width: 133px;
	float: left;
}

.inner_ex_image {
	width: 133px;
	height: 133px;
	margin: 0px 20px 50px 0px;
}

#ex_text {
	padding-top: 30px;
	width: 255px;
	float: left;
	font-size: 12px;
	line-height: 20px;
}

#nav_table_tr{
	margin:0 25px 0 25px;
}


tr:hover {
}

#inner_explain {
	opacity: 0;
	opacity: 1;
min-height: 100px;
/*overflow: scroll;*/
max-height: 400px;

}


#nav_about{
		display: block;
		width: 50px;
		height: 50px;
	background: url('../img/hovers/default_home.png') no-repeat 0 0;


}
#nav_about:hover {
	background: url('../img/hovers/hover_home.png') no-repeat 0 0;
}

#nav_bio{
		display: block;
		width: 50px;
		height: 50px;
	background: url('../img/hovers/default_document.png') no-repeat 0 0;

}
#nav_bio:hover {
	background: url('../img/hovers/hover_document.png') no-repeat 0 0;
}

#nav_member{
		display: block;
		width: 50px;
		height: 50px;
	background: url('../img/hovers/default_smile.png') no-repeat 0 0;

}
#nav_member:hover {
	background: url('../img/hovers/hover_smile.png') no-repeat 0 0;
}

#midashi_about {
	width: 179px;
	height: 208px;
	background: url('../img/hovers/default_hatena.png') no-repeat 0 0;
}

#midashi_about:hover {
	width: 179px;
	height: 208px;
	background: url('../img/hovers/hover_hatena.png') no-repeat 0 0;
}

#bio_art {
	float: left;
	display: block;
	width: 188px;
	height: 242px;
	background: url('../img/hovers/default_kougu.png') no-repeat 0 0;
	margin-left: 50px;
	margin-right: 87px;
}

#bio_art:hover {
	background: url('../img/hovers/hover_kougu.png') no-repeat 0 0;
}

#bio_event {
		float: left;
	display: block;
	width: 152px;
	height: 242px;
	background: url('../img/hovers/default_tv.png') no-repeat 0 0;
	margin-right: 86px;
}

#bio_event:hover {
	background: url('../img/hovers/hover_tv.png') no-repeat 0 0;
}

#bio_media {
		float: left;
	display: block;
	width: 172px;
	height: 242px;
	background: url('../img/hovers/default_dance.png') no-repeat 0 0;
}

#bio_media:hover {
	background: url('../img/hovers/hover_dance.png') no-repeat 0 0;
}

#picture_member {
	margin:0 auto 30px auto;
	display: block;
	width: 198px;
	height: 122px;
	background: url('../img/hovers/default_smilebig.png') no-repeat 0 0;
}

#picture_member:hover {
	background: url('../img/hovers/hover_smilebig.png') no-repeat 0 0;
}
#twitter-widget-0 {
	width: 100px !important;
}

#ex_text > a {
	color:#000000;

}

#hot_topics_text > ul > li:hover {
   background-color:rgb(69, 93, 173);
}


