[% INCLUDE 'tmpl/html_header.tmpl' %]


<link href="./css/style.css" rel="stylesheet" type="text/css" media="all" />

<script src="./js/jquery.js" type="text/javascript"></script>
<script src="./js/qaTab.js" type="text/javascript"></script>



<div id="contwrapper" class="clearfix">
  <div id="left_cont">
  <div id="left_menu">
    <div id="left_cont_in">
      <table id="left_cont_table">
        <tr>
          <td class="title box"><img src="img/menu.jpg" alt="" /></td>
        </tr>
		          <tr><td height="20"></td></tr>

  [% INCLUDE 'tmpl/html_setting_menu.tmpl' %]


      </table>
    </div>
    </div>


  [% INCLUDE 'tmpl/html_left_banner.tmpl' %]

  </div>
  

  
  <div id="right_cont">
    <div id="right_cont_title">
      <table id="right_cont_table_title">
        <tr>
          <td class="title box">
              各種設定<img src="img/big_arrow.jpg" alt="" />予約配信設定<img src="img/big_arrow.jpg" alt="" />
          </td>
        </tr>
      </table>
    </div>
    <div id="right_cont_contens">
    <div id="right_cont_contens_in">






<div align="center">
[% IF oktext %]
<font color="red"><b>[% oktext %]</b></font><br>
[% END %]
</div>

<form name="form1" method="post" action="admin_edit.cgi">
<div align="center">
<font color="red">[% error_message %]</font>
<font color="blue"><b>[% IF okedit %]更新しました[% END %]</b></font>
</div>

   <table id="right_cont_table">
  <tr><td colspan="2" bgcolor="#EEEEEE" align="center" class="td_2 box listtitle">
  予約配信設定
  </td></tr>
  <tr><td class="td_1 box">
  予約配信
  </td><td bgcolor="#FFFFFF" class="td_2 box">
  <input type="checkbox" name="reserve" value="1" [% IF reserve %]checked[% END %]>使用する
  </td></tr>
	[% IF mypath_ok %]
    <tr valign="top"> 
      <td class="td_1 box">CRON設定<br>
	  文字列</td>
      <td bgcolor="#FFFFFF" class="td_2 box"> 
	  <table>
	  <tr><td width="100">CRONTAB用</td><td><input type="text" value="*/15 * * * *  {UNIXアカウント名} [% mypath|html %]lib/reserve.pl" size="50" class="textcolor" style="width:300px;"></td></tr>
	  <tr><td width="100">実行パス</td><td><input type="text" value="[% mypath|html %]lib/reserve.pl" size="50" class="textcolor" style="width:300px;"></td></tr>
	  </table>

	  </td>
    </tr>
    <tr valign="top"> 
      <td class="td_1 box">WEBCRON用URL</td>
      <td bgcolor="#FFFFFF" class="td_2 box"> 
	  <table>
	  <tr><td width="100">URL</td><td><input type="text" value="[% homeurl|html %]webcron.cgi" size="50" class="textcolor" style="width:300px;"></td></tr>
	  </table>

	  </td>
    </tr>
	[% END %]
	<tr valign="top">
	<td colspan="2" bgcolor="#FFFFFF" class="td_2 box">
	予約配信<br><br>
	■CRONによる設定<br>
	SSH等で直接CRONTABを編集する場合は、上記「CRONTAB用」を設定してください。<br>※UNIXアカウント名は必要に応じて変更してください。<br><br>
	さくらサーバーなどWEB管理ツールから設定する場合は、実行コマンドを上記「実行パス」で設定してください。<br><br>
	<b>CRONとは</b>
	<br>
	CRONとはLinuxなどのサーバにおいて、定期的にコマンドを実行するための仕組みのことです。<br>
	ご利用中のサーバーでCRONが利用できるかはサーバー管理者にご相談ください。<br><br>
	■WEBCRONによる設定<br>
	一定間隔で
	<a href="[% homeurl|html %]webcron.cgi" target="blank">[% homeurl|html %]webcron.cgi</a><BR>
	にアクセスすることにより予約データを配信することができます。

	</td>
	</tr>
  </table>

<br>
<div align="center">
      <input type="hidden" name="login_pass_org" size="30" value="[% login_pass|html %]">
            <input type="submit" name="Submit" value="更新" class="buttonstyle">
			<input type="hidden" name="edit" value="1">
			<input type="hidden" name="display" value="[% form.display %]">
          <br>
</div>
		  
</form>
</div>



<script>
function test_sendmail() {
	if (document.form1.test_send.value == "") {
		alert("テスト送信先を入力してください。");
		return 0;
	}


	var cnt = document.form1.elements.length;
	var mode = "";
	for( i=0 ; i < cnt ; i++ ) {
		if (document.form1.elements[i].type == "radio" && document.form1.elements[i].name == "relay_send_mode" && document.form1.elements[i].checked) {
			mode = document.form1.elements[i].value;
		}
	}
	
	window.open('test_relay_send.cgi?to=' + document.form1.test_send.value + "&port=" + document.form1.relay_port.value + "&from=" + document.form1.admin_email.value + '&relay_user=' + document.form1.relay_user.value + '&relay_pass=' + document.form1.relay_pass.value + '&relay_send_mode=' + mode + "&relay_host=" + document.form1.relay_host.value);
}
</script>



      </div>
      </div>
    </div>
	</div>



[% INCLUDE 'tmpl/html_footer.tmpl' %]
