
[% INCLUDE 'tmpl/html_header_nomenu.tmpl' %]


		
        <div id="panel">
        	<div id="panel_title">
            	<p id="panel_title_1"></p>
                <p id="panel_title_2">変更完了</p>
            </div>
            <div id="panel_text">

[% oldemail %]から[% newemail %]に変更しました。
            </div>
        </div>





[% INCLUDE 'tmpl/html_footer_nomenu.tmpl' %]
