		
		<div id="panel_foot">
[% UNLESS writing %]
powered by<a href="http://www.acmailer.jp/" target="_blank" title="メール配信CGI acmailer"><img src="./img/logo_form.jpg" alt="メール配信CGI acmailer" style="border:none; padding:0; margin:0; margin-left:5px; vertical-align:middle; height:auto;" /></a>
[% END %]</div>
    </div>
</div>
</body>
</html>
