
[% UNLESS writing %]

<div id="box_footer" style="background-color:#FFFFFF;font-size:small;text-align:center;">
<font size="1">
メール配信CGI <a href="http://www.acmailer.jp/">acmailer</a><br>
</font>
</div>

[% END %]

</body>
</html>
