
    <div class="left_bunner">
      <div class="left_cont_bunner">
        <table bgcolor="#FFFFFF" class="left_cont_table_bunner">
          <tr>
            <td style="border-left: 7px solid #999;" class="box"><a href="http://www.acmailer.jp/docs/" target="_blank">オンラインマニュアル</a></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="left_bunner">
      <div class="left_cont_bunner">
        <table bgcolor="#FFFFFF" class="left_cont_table_bunner">
          <tr>
            <td style="border-left: 7px solid #999;" class="box"><a href="http://www.acmailer.jp/license/" target="_blank">ライセンスについて</a></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="left_bunner" id="last_bunner">
      <div class="left_cont_bunner" id="last_bunner2">
        <table bgcolor="#FFFFFF" class="left_cont_table_bunner">
          <tr>
            <td style="border-left: 7px solid #999;" class="box"><a href="http://www.acmailer.jp/" target="_blank">acmailer 公式サイト</a></td>
          </tr>
        </table>
      </div>
    </div>


	
