






    <div id="footer">
[% UNLESS writing %]
    <font size="-2" color=#999999>Copyright&copy; 2000-2010 <a href="http://www.ahref.org/" title="WEBアプリケーションフリーCGI配布ahref" target="_blank">ahref</a> All Rights Reserved.
</font>
[% END %]
    </div>
  </div>
</div>
</body>
</html>
