[% INCLUDE 'tmpl/html_mobileheader.tmpl' %]

<div style="background-color:#FFCC00;text-align:center;padding:5px;">
変更完了
</div>
<div class="box_con" style="background-color:#FFFFFF;padding-bottom:5px;font-size:small;">
	<font size="1">[% oldemail %]から[% newemail %]に変更しました。</font>
</div>

[% INCLUDE 'tmpl/html_mobilefooter_nomenu.tmpl' %]
