[% INCLUDE 'tmpl/html_mobileheader.tmpl' %]

<div style="background-color:#FFCC00;text-align:center;padding:5px;">
変更手続き完了
</div>
<div class="box_con" style="background-color:#FFFFFF;padding-bottom:5px;font-size:small;">
	<font size="1">仮登録が完了いたしました。<br>
ご登録いただいたメールアドレス宛てに本登録用のメールをお送りいたしました。<br>
メールに記載されているURLをクリックし本登録を完了させてください。</font>
</div>

[% INCLUDE 'tmpl/html_mobilefooter_nomenu.tmpl' %]
