
[% INCLUDE 'tmpl/html_header_nomenu.tmpl' %]


		
        <div id="panel">
        	<div id="panel_title">
            	<p id="panel_title_1"></p>
                <p id="panel_title_2">仮登録完了</p>
            </div>
            <div id="panel_text">
仮登録が完了いたしました。<br>
ご登録いただいたメールアドレス宛てに本登録用のメールをお送りいたしました。<br>
メールに記載されているURLをクリックし本登録を完了させてください。
            </div>
        </div>





[% INCLUDE 'tmpl/html_footer_nomenu.tmpl' %]
