/* ƒRƒ“ƒeƒ“ƒc
---------------------------------------------*/
#contwrapper {
	padding-top:20px;
}
#left_cont {
	width:200px;
	float:left;
}
#left_menu{
	margin-bottom:10px;
}
#left_cont_in {
	padding-top:5px;
	padding-bottom:25px;
	background-color:#FFF;
}
#left_cont_table {
	width:192px;
	margin:0 auto;
}
.left_bunner{
	margin-bottom:5px;
}
.left_cont_bunner {
	padding-top:5px;
	padding-bottom:5px;
	background-color:#FFF;
}
.left_cont_table_bunner {
	width:192px;
	margin:0 auto;
}
td {
	vertical-align:middle;
	padding-left:12px;
	padding-top:5px;
	padding-bottom:5px;
}
.title {
	font-size:100%;
	letter-spacing:0.1em;
	font-weight:bold;
	padding-top:0px;
	padding-bottom:0px;
	height:50px;
}
.title img{
	vertical-align:middle;
	padding-left:10px;
	padding-right:15px;
}
.box {
	border:solid 1px #E6E6E6;
}
.menu {
	border-bottom:solid 1px #E6E6E6;
	padding-top:5px;
	padding-bottom:5px;
}
.topmenu {
	padding-top:25px;
}
.lastmenu {
}
#right_cont {
	width:680px;
	float:right;
}
#right_cont_title {
	background-color:#FFF;
	padding-top:5px;
	padding-bottom:5px;
}
#right_cont_table_title {
	width:672px;
	margin:0 auto;
}
#right_cont_table_title li {
	float:left;
}
#right_cont_table_title li span {
	font-size:90%;
	padding-left:10px;
}
#right_cont_contens {
	background-color:#FFF;
	margin-top:10px;
}
#right_cont_contens_in {
	padding-top:5px;
	padding-bottom:5px;
}
#right_cont_table1 {
	width:672px;
	margin:0 auto;
}
#cont_search{}
#right_cont_table2 {
	width:672px;
	margin:0 auto;
}
#conttitle_bg{
	background-image:url(../img/bg_img_01.jpg);
	background-position:top;
	background-repeat:repeat-x;
}



.td_1 {
	width:150px;
}
.td_2 {}
span img{
	vertical-align:middle;
	padding-right:5px;
}
.red {
	color:#D92173;
	padding-left:15px;
}
.search{
	margin-top:2px;
	margin-bottom:2px;
}
#mail_body{
	width:480px;
	height:200px;
	overflow:auto;
}
#hensu_btn{
	text-align:right;
	padding-top:5px;
	padding-bottom:0px;
	padding-right:10px;
	_padding-right:12px;
}
#submit_btn{
	text-align:center;
	padding-top:10px;
	padding-bottom:15px;
}
#left_cont_table img{
	padding-left:0px;
}
